:root {
  --text-color: #7b7b7b;
  --white-color: #ffffff;
  --black-color: #000;
  --primary-color: #42a7c2;
  --border-color: #333333;
  --border-sidebar-color: #e1e8ef;
  --item-hover: #ced4da;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", serif;
}
body {
  display: flex;
  background-color: #f8f9fa;
}
.main {
  padding-top: 10px;
  margin: 0 auto;
  flex: 1;
}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}


/* Sidebar */
.sidebar {
  width: 220px;
  height: 521px;
  background: var(--white-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--border-sidebar-color);
}
.sidebar button {
  background-color: var(--primary-color);
  border-radius: 8px;
  border: none;
  height: 43px;
  width: 176px;
  cursor: pointer;
}
.sidebar button span {
  color: var(--white-color);
  font-size: 18px;
}
.sidebar button:hover {
  background-color: var(--item-hover);
}
.logo {
  margin-top: 32px;
  text-align: center;
  margin-bottom: 18px;
  height: 54px;
}
.logo img {
  max-width: 100%;
}
.menu {
  list-style: none;
  width: 100%;
  margin-top: 21px;
}
.menu li {
  height: 70px;
  padding-left: 20px;
  padding-right: 22px;
  border-bottom: 1px solid var(--border-sidebar-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.menu li:first-child {
  border-top: 1px solid var(--border-sidebar-color);
}
.menu li a {
  text-decoration: none;
  color: var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.icon-arrow-right {
  width: 9px;
  height: 14px;
  color: var(--primary-color);
}
/* Main Content */
.main-content {
  flex: 1;
  margin-left: 50px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.home-icon {
  color: var(--text-color);
}
.home-text {
  margin-left: 10px;
  font-size: 14px;
  color: var(--text-color);
}
.header-right {
  display: flex;
}
.login-text {
  font-size: 14px;
  color: var(--text-color);
}
.login-icon {
  margin-left: 7px;
}
.mail {
  margin-left: 26px;
}
.mail-text {
  font-size: 14px;
  color: var(--text-color);
}
.mail-icon {
  margin-left: 8px;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e8f1f8;
  padding: 10px 20px;
  border-radius: 10px;
}
.search-box {
  display: flex;
  flex: 1;
  align-items: center;
  background: #eaf1f7;
  border-radius: 100px;
  height: 90px;
  padding-left: 85px;
  padding-right: 100px;
  justify-content: space-between;
  margin-top: 16px;
}
.search-info {
  font-size: 16px;
  color: var(--border-color);
}
.search-wrapper {
  border: 1px solid var(--item-hover);
  height: 50px;
  width: 426px;
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 100px;
  padding: 0 20px;
}
.search-wrapper input {
  border: none;
  outline: none;
  margin-left: 10px;
  flex: 1;
  font-size: 16px;
  color: var(--text-color);
}
.search-box button {
  background: var(--primary-color);
  color: #f8f9fa;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  height: 49px;
  width: 94px;
}
.search-box button:hover {
  background-color: var(--item-hover);
}
.button-search {
  font-size: 16px;
}
/* Guide Section */
.guide-section {
  display: flex;
  margin-top: 50px;
  height: 149px;
}
.guide-section-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.guide-section-text div {
  color: var(--primary-color);
  font-size: 26px;
  margin-top: 38px;
  line-height: 30px;
}
.guide-section p {
  color: var(--border-color);
  font-size: 16px;
  margin-bottom: 46px;
  margin-left: 3px;
  margin-top: 8px;
}

.container-first {
  margin-top: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.container-first .item {
  flex: 1 1 calc(33.333% - 15px);
  max-width: calc(33.333% - 15px);
  background: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 20px 42px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  height: 145px;
  justify-content: center;
  cursor: pointer;
}
.container-first .item:hover{
  background-color: var(--item-hover);
}

.item p {
  font-size: 18px;
  color: var(--primary-color);
}

.label {
  margin-top: 30px;
  height: 52px;
  position: relative;
}
.label span {
  border-top: 4px solid var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 30px;
  font-size: 20px;
  color: var(--primary-color);
}
.container {
  margin-top: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
  margin-left: -7.5px;
  margin-right: -7.5px;
  padding-left: 7.5px;
}
.container .item {
  flex: 1 1 calc(25% - 15px);
  max-width: calc(25% - 15px);
  background: #eaf1f7;
  border-radius: 10px;
  padding: 20px 42px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  height: 160px;
  justify-content: center;
  cursor: pointer;
}
.container .item:hover{
  background-color: #ced4da;
}
.guide-section-bottom {
  margin-top: 96px;
  display: flex;
  height: 149px;
}

.guide-section-bottom p {
  color: var(--border-color);
  font-size: 16px;
  margin-bottom: 46px;
  margin-left: 3px;
  margin-top: 8px;
}

.footer-list {
  list-style: none;
}

.footer {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer .item {
  flex: 1 1 50%;
  max-width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.footer .item ul {
  list-style: none;
  margin-bottom: 20px;
}

.footer .item ul li {
  margin-top: 16px;
}
.footer .item ul li a{
  font-size: 16px;
  color: var(--primary-color);
  text-decoration: none;
}
.copy-right {
  background-color: var(--border-color);
  display: flex;
  height: 75px;
  align-items: center;
  margin-top: 130px;
}
.copy-right span{
  font-size: 12px;
  color: var(--white-color);
  margin-right: 400px;
  flex: 1;
  margin-right: 25%;
  text-align: right;
}


